html, body {
    overflow: hidden;
    background-color: DimGrey;
    transition: 0.5s;
}

button {
    font-size: 50px;
    transition: 0.5s;
    position: relative;
    margin: 5%;
}

input {
    position: relative;
    font-size: 50px;
    left: 13%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 16px;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(1.0);
}

#output {
    font-size: 50px;
    width: 70vh;
    height: 70vh;
    background-color: lightgrey;
    position: relative;
    top: 20%;
    left: 30%;
    overflow: auto;
    text-align: center;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 16px;
}